:host {
  display: block;

  .text {
    line-height: var(--dlk-line-height-regular);
    font-family: var(--dlk-font-family-text);
    color: var(--dlk-color-black);
    &--regular {
      font-size: var(--dlk-font-size-xs);
    }
    &--medium {
      font-size: var(--dlk-font-size-s);
      line-height: var(--dlk-line-height-tight);
    }
    &--large {
      font-size: var(--dlk-font-size-m);
      line-height: var(--dlk-line-height-tight);
    }
  }
}
